

html{
  min-height: 100%;
}


body {
  margin:0;
  width: 100%;

}


.Main {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  text-transform: uppercase;
}
ul {
  padding:0;
  margin: 0;
}


#Wrapper {

  width: 1050px;
  top:0px;
  height: 1200px;



}
#Topbar{
  background-color: #212121;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  border: 0;
  left: 0px;
  top: 0px;
  text-align: center;
  position: absolute;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 1050px;
}
#Contactbar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 40px;
  color: #e5e5e5;
  min-width: 500px;

}
#Langbar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 2px;
  color: #e5e5e5;
  min-width: 500px;

}

#OikeaTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;

}
#VasenTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: 70px;
  text-align: center;
  padding-top: 3px;


}
.Contact {

  width: 30px;
  height: 30px;
  border: 2px;
  border-radius: 25px;

}
.Icon {

  color: #212121;
}

noscript {
  font-size: 15px;
}

.Header {
  line-height: 285px;
  background-color: #212121;
  height: 287px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  border: 0px;
  padding: 0;
  text-align: center;
  font-size: 360%;
  position: relative;
  vertical-align: top;
  color: #e5e5e5;
  min-width: 1050px;


}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top: 49px;
}
#Navbar{
  height: 48px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin:0;
  position: relative;
  background-color: #212121;
  font-size: 150%;
  text-align: center;
  color: #e5e5e5;
  min-width: 1050px;

}
#Navlist li {
  display:inline;
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;



 }


 hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}

#Navlist a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #e5e5e5;
}

a:after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid ;
  transition: width .2s ease, background-color .5s ease;

}
a:hover:after {
  width: 100%;
}

.one {
  background-image: linear-gradient(
  180deg, rgba(0,0,0,0),
  #FFFFFF 81.1%,
  #FFFFFF 85%,image();rgba(0,0,0,0) 85,1%
  rgba(0,0,0)

  );
  color: white;
}

#Middle {
  height:700px;
  width: 100%;
  top: 0px;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  background-color:white;
  text-align: center;
  position: relative;
  min-width: 1050px;




}

.underline_text {
      border-bottom: solid 2px #FFFFFF;
      display: inline;
      padding-bottom: 0.25px;
}

#Left {
  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;

}
#Right {
  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
  margin-left:20px;

}


.tekstiosuus {

vertical-align: middle;
display: table;
text-align: center;
height: 50px;

}
#Kuva {
float:right;
vertical-align: middle;
display: table-cell;
height: 375px;



}
#Footer {

  background-color: #e3e6e9;
  height:55px;
  width: 100%;
  clear: both;
  left: 0px;
  min-width: 1050px;

  position: relative;

}


/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oxygen', sans-serif;*/
