

body {
  margin:0;
  padding: 0;
}
.Main {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  text-transform: uppercase;
}
/* LOMAKE ----------------------------------------------*/
#lomake 		{
  font-family: 'Open Sans', sans-serif;
  width:600px;
  margin:30px auto 0;
  display:block;
  background:#FFF;
  padding:10px 50px 50px;
  height: 800px;

}
h2 		 {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABELIT ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:315px; } /* Animaation pituus*/
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* KOROSTUS ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0; /* Muuttaa clickaus varjouseffektia */
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMAATIOT ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.nimikkeet {
  font-weight: bold;
  position: relative;;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 70px;
}
input, label {
    display:block;
}
textarea {
  border-width: 2px;
  outline-color: #5264AE;
  font-family: 'Open Sans', sans-serif;
  max-height: 240px;
  max-width: 800px;
}
.box {
   width: 375px;
   height: 30px;
   font-size: 15px;
 }
 input[type=email] {
    width: 300px;
    height: 30px;
    font-size: 15px;

  }

  /* NAPPI ------------------------------------------- */
button {
    background-color: #424242;
    color: #e5e5e5;
    padding: 10px 30px;
    border: 0 none;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-radius: 2px;
    text-align: center;

   }
   /* Napin laajentuminen */
   button  span{
     max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;

      }
button:hover {

  background-color: #212121;
}
button:hover span {

    max-width: 7rem;

  }
textarea{
  font-size: 15px;
  height: 140px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}


/* TOP OF THE SITE --------------------------------------- */
#Topbar{
  background-color: #212121;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  border: 0;
  left: 0px;
  top: 0px;
  text-align: center;
  position: absolute;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 1050px;

}
#Contactbar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 40px;
  color: #e5e5e5;
  min-width: 500px;

}
#achtung{

  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  height: 60px;
  min-width: 1050px;
  text-align: right;

}
#achtung p{
  margin: 0;
  border: 0;
  margin-right: 60px;
  padding-top: 15px;
  text-align: left;
  margin-left: 70%;
  font-family: 'Open Sans', sans-serif;
}
#Langbar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 2px;
  color: #e5e5e5;
  min-width: 500px;

}

#OikeaTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;

}
#VasenTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: 70px;
  text-align: center;
  margin-top: 3px;

}
table {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;

}
.Contact {

  width: 30px;
  height: 30px;
  border: 2px;
  border-radius: 25px;

}
.Icon {

  color: #2B2B2B;

}

.Header {
  line-height: 285px;
  background-color: #212121;
  height: 287px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  border: 0px;
  padding: 0;
  text-align: center;
  font-size: 360%;
  position: relative;
  vertical-align: top;
  color: #e5e5e5;
  min-width: 1050px;

}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top: 49px;
  margin-bottom: 0px;
}
#kontakti {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}
#Navbar{
  height: 48px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin:0;
  position: relative;
  background-color: #212121;
  font-size: 150%;
  text-align: center;
  color: #e5e5e5;
  min-width: 1050px;

}
#Navlist li {
  display:inline;
  text-align: center;
  margin: 20px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;

 }

ul {
  padding:0;
  margin: 0;
}

 hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #e5e5e5;
}

a:after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid ;
  transition: width .2s ease, background-color .5s ease;
}
a:hover:after {
  width: 100%;
}

.one {
  background-image: linear-gradient(
  180deg, rgba(0,0,0,0),
  #e5e5e5 81.1%,
  #e5e5e5 85%,image();rgba(0,0,0,0) 85,1%
  rgba(0,0,0)

  );
}
.underline_text {
      border-bottom: solid 2px #e5e5e5;
      display: inline;
      padding-bottom: 0.25px;
}
#Middle {
  height:180px;
  width: 100%;
  top: 0px;
  vertical-align:middle;
  /*display: flex; */
  text-align: left;
  justify-content: center;
  background-color:white;
  color: black;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  min-width: 1050px;
  clear: both;
  margin-left: 300px;
  }

#Middle p{
  text-align: left;
  width: 600px;


}


.tekstiosuus {

vertical-align: middle;
display: table;
text-align: center;
height: 50px;

}
.Kuva {
float:right;
vertical-align: middle;
display: table-cell;
height: 400px;
line-height: 200px;


}

h2,h4 {

  font-weight: normal;
}
h1.Otsikko {

  font-size: 40px;
  margin-top: 15px;
  margin-left: 0;
}
.WT {

  font-weight: normal;
  font-size: 19.5px;
}
.space{

line-height: 20px;
}
#space3{

padding-top: 23px;
}
#space2{
  line-height: 24px;
}
br {
  line-height: 25px;
}
#breaikki {

  line-height: 2px
}

#Footer {

  background-color: #e3e6e9;
  height:55px;
  width: 100%;
  bottom:0px;
  left: 0px;
  min-width: 1050px;

  line-height: 50px;
  position: relative;

}



/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oxygen', sans-serif;*/
