

html{
  min-height: 100%;
}


body {
  margin:0;
  width: 100%;

}
body a{
  text-decoration: none;
}

.ikonit {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  color: #191919;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}
.ikonit:hover{
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -webkit-transition: transform .15s ease-in-out;
  -moz-transition:transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}
.Main {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  text-transform: uppercase;
}
ul {
  padding:0;
  margin: 0;
}

#epost {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  color: #191919;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  font-size: 25px;
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}
#epost:hover {
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -webkit-transition: transform .15s ease-in-out;
  -moz-transition:transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}


#Wrapper {

  width: 1050px;
  top:0px;
  height: 1200px;



}
#Topbar{
  background-color:#191919;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  border: 0;
  left: 0px;
  top: 0px;
  text-align: center;
  position: absolute;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 1050px;
}
#Contactbar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 40px;
  color: #e5e5e5;
  min-width: 500px;

}
#Langbar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 2px;
  color: #e5e5e5;
  min-width: 500px;

}

#OikeaTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;

}
#VasenTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: 70px;
  text-align: center;
  padding-top: 3px;


}
.Contact {

  width: 30px;
  height: 30px;
  border: 2px;
  border-radius: 25px;

}
.Icon {

  color:#191919;
}

noscript {
  font-size: 15px;
  line-height: 20px;
}

.Header {
  line-height: 285px;
  background-color:#191919;
  height: 287px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  border: 0px;
  padding: 0;
  text-align: center;
  font-size: 360%;
  position: relative;
  vertical-align: top;
  color: #e5e5e5;
  min-width: 1050px;


}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top: 49px;
}
#Navbar{
  height: 48px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin:0;
  position: relative;
  background-color:#191919;
  font-size: 150%;
  text-align: center;
  color: #e5e5e5;
  min-width: 1050px;

}
#Navlist li {
  display:inline;
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;



 }


 hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}

#Navlist a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #e5e5e5;
}

.navikointi:after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid ;
  transition: width .2s ease, background-color .5s ease;

}
.navikointi:hover:after {
  width: 100%;
}

.one {
  background-image: linear-gradient(
  180deg, rgba(0,0,0,0),
  #FFFFFF 81.1%,
  #FFFFFF 85%,image();rgba(0,0,0,0) 85,1%
  rgba(0,0,0)

  );
  color: white;
}

#Middle {
  height:700px;
  width: 100%;
  top: 0px;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  background-color:white;
  text-align: center;
  position: relative;
  min-width: 1050px;
  padding-top: 70px;
}
@media screen and (min-width: 1px) and (max-width: 1000px) {
  #Middle {
    height: 1270px;
  }
  #Navbar {
    top: -1px;
  }
}

.underline_text {
      border-bottom: solid 2px #FFFFFF;
      display: inline;
      padding-bottom: 0.25px;
}

#Left {

  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
  margin-left:20px;
}
#Right {
  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 332px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
}
#RightFI {
  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 360px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
}

.tekstiosuus {

vertical-align: middle;
display: table;
text-align: center;
height: 50px;

}
#Kuva {
float:right;
vertical-align: middle;
display: table-cell;
height: 360px;



}
#oikeudet {
  padding-top: 2.2%;
  padding-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
  font-size: 15px;
}
#Footer {

  background-color: #e3e6e9;
  height: 75px;
  width: 100%;
  clear: both;
  left: 0px;
  min-width: 1050px;

  position: relative;
}
@media screen and (min-width: 2231px) {
  #Middle {
    height: 800px;

  }
  #tekstiosuus {
    font-size: 21px;
  }
}
@media screen and (min-width: 2232px) {
  #Middle {
    height: 1080px;

  }
  #Right {
    width: 300px;
    font-size: 24px;
  }
}
@media screen and (min-width: 2233px) {
  #Middle {
    height: 1380px;

  }
  #Right {
    width: 400px;
      font-size: 27px;
  }
}
@media screen and (min-width: 2234px) {
  #Middle {
    height: 3230px;
  }
  #Right {
    width: 400px;
      font-size: 35px;
  }
  #oikeudet {
    padding-top: 0.4%;
  }
}
