html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 937px;
  min-height: 100vh;
}

/*
_________________________________________________________________________
------------------------------ Kontit -----------------------------------
_________________________________________________________________________
*/

/* For the main container */

.kontti{
  position:relative;
  min-height: 1300px;
  width:100%;
  height: 100%;
  background-color:#ffffff;
}

/* For the top container */

#topContainer{
  background-color: #191919;
}

/*
_________________________________________________________________________
------------------------------ Ylin palkki ------------------------------
_________________________________________________________________________
*/

body a{
  text-decoration: none;
}

#topBar{
  background-color:#191919;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  border: 0;
  left: 0px;
  top: 0px;
  text-align: center;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  text-align: center;

}

/* For language bar */

#langBar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 2px;
  color: #e5e5e5;
  min-width: 500px;

}
#vasenTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: 70px;
  text-align: center;
  padding-top: 3px;

}
.ikonit {
  width: 30px;
  height: 30px;
  color: #191919;
  background-color: #e5e5e5;
  border-radius: 50%;
  line-height: 30px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE10+/Edge */
  -webkit-user-select: none; /* For Safari */
  user-select: none; /* Standard */

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;

}
.ikonit:hover{
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

@supports (-moz-appearance:meterbar)  {
  .ikonit {
    width: 30px;
    height: 30px;
    color: #191919;
    background-color: #e5e5e5;
    border-radius: 50%;
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    -moz-user-select: none;
  }
}

/* For Contact bar */

#contactBar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 40px;
  color: #e5e5e5;

}

#oikeaTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
}

#epost {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  color: #191919;
  line-height: 28px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE10+/Edge */
  -webkit-user-select: none; /* For Safari */
  user-select: none; /*  Standard */

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;

}

#epost:hover {
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

/*
_________________________________________________________________________
------------------------------ Otsikko ------------------------------
_________________________________________________________________________
*/

.header {
  line-height: 285px;
  background-color:#191919;
  margin: 0;
  height: 286px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  border: 0px;
  padding: 0;
  text-align: center;
  font-size: 360%;
  color: #e5e5e5;

}

.main {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  text-transform: uppercase;
}

h1 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

/*
_________________________________________________________________________
--------------------------- Navigointipalkki ----------------------------
_________________________________________________________________________
*/

#navBar{
  height: 48px;
  width: 100%;
  background-color:#191919;
  font-size: 150%;
  text-align: center;
  color: #e5e5e5;


}
#navList li {
  display:inline;
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
 }


#navList a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #e5e5e5;
}

ul {
  padding:0;
  margin: 0;
}
.navikointi:after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid ;
  transition: width .2s ease, background-color .5s ease;

}
.navikointi:hover:after {
  width: 100%;
}

.alleviivaa {
      border-bottom: solid 2px #FFFFFF;
      display: inline;
      padding-bottom: 0.25px;
}

/*
_________________________________________________________________________
--------------------------- Sisältö ----------------------------
_________________________________________________________________________
*/

#middle {
  height:700px;
  width: 100%;
  top: 0px;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  background-color:white;
  text-align: center;
  position: relative;
  padding-top: 70px;
}

#left {

  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
  margin-left:20px;
}

#right {
  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 390px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
}

#rightFI {
  height:250px;
  font-family: 'Open Sans', sans-serif;
  width: 360px;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 70px;
}

.tekstiosuus {

vertical-align: middle;
display: table;
text-align: center;
height: 50px;
}

#kuva {
float:right;
vertical-align: middle;
display: table-cell;
height: 360px;
}

/*
_________________________________________________________________________
------------------------------ Alatunniste ------------------------------
_________________________________________________________________________
*/

#footer{
  background-color: #e3e6e9;
  height: 75px;
  width: 100%;
  position:relative;
  display: flex;
  align-items: center;
  margin:0;
}

#oikeudet {
  padding-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
  font-size: 15px;
  min-width: 320px;
}
