html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 937px;

}

/*
_________________________________________________________________________
------------------------------ Kontit -----------------------------------
_________________________________________________________________________
*/

/* For the main container */

.kontti{
  position:relative;
  overflow: auto;
  min-height: 1700px;
  width:100%;
  height: 100%;
  background-color:#ffffff;
}

/* For the top container */

#topContainer{
  background-color: #191919;
}

/*
_________________________________________________________________________
------------------------------ Ylin palkki ------------------------------
_________________________________________________________________________
*/

body a{
  text-decoration: none;
}

#topBar{
  background-color:#191919;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  border: 0;
  left: 0px;
  top: 0px;
  text-align: center;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* For language bar */

#langBar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 2px;
  color: #e5e5e5;
  min-width: 500px;
}

#vasenTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: 70px;
  text-align: center;
  padding-top: 3px;
}

.ikonit {
  width: 30px;
  height: 30px;
  color: #191919;
  background-color: #e5e5e5;
  border-radius: 50%;
  line-height: 30px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE10+/Edge */
  -webkit-user-select: none; /* For Safari */
  user-select: none; /* Standard */

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

.ikonit:hover{
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

@supports (-moz-appearance:meterbar)  {
  .ikonit {
    width: 30px;
    height: 30px;
    color: #191919;
    background-color: #e5e5e5;
    border-radius: 50%;
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    -moz-user-select: none;
  }
}

/* For Contact bar */

#contactBar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 40px;
  color: #e5e5e5;
}

#oikeaTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
}

#epost {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  color: #191919;
  line-height: 28px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE10+/Edge */
  -webkit-user-select: none; /* For Safari */
  user-select: none; /*  Standard */

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

#epost:hover {
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

/*
_________________________________________________________________________
------------------------------ Otsikko ------------------------------
_________________________________________________________________________
*/

.header {
  line-height: 285px;
  background-color:#191919;
  margin: 0;
  height: 286px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  border: 0px;
  padding: 0;
  text-align: center;
  font-size: 360%;
  color: #e5e5e5;
}

.main {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  text-transform: uppercase;
}

h1 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

/*
_________________________________________________________________________
--------------------------- Navigointipalkki ----------------------------
_________________________________________________________________________
*/

#navBar{
  height: 48px;
  width: 100%;
  background-color:#191919;
  font-size: 150%;
  text-align: center;
  color: #e5e5e5;
}

#navList li {
  display:inline;
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
 }

#navList a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #e5e5e5;
}

ul {
  padding:0;
  margin: 0;
}

.navikointi:after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid ;
  transition: width .2s ease, background-color .5s ease;
}

.navikointi:hover:after {
  width: 100%;
}

.alleviivaa {
      border-bottom: solid 2px #FFFFFF;
      display: inline;
      padding-bottom: 0.25px;
}

/*
_________________________________________________________________________
--------------------------- Sisältö ----------------------------
_________________________________________________________________________
*/

/* browser remark */

#achtung{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  height: 60px;
  text-align: right;
}

#achtung p{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  border: 0;
  margin-right: 60px;
  padding-top: 15px;
  text-align: left;
  margin-left: 70%;
}

#achtung br{
  line-height: 25px;
}
/* the form */

#lomake{
  background:#FFF;
  font-family: 'Open Sans', sans-serif;
  display:block;
  width:600px;
  height: 800px;
  padding:10px 50px 50px;
  margin:30px auto 0;
}

h2{
  text-align:center;
  margin-bottom:50px;
}

h2 small {
  color:#888;
  font-weight:normal;
  display:block;
}

h1.Otsikko {

  font-size: 40px;
  margin-top: 15px;
  margin-left: 0;
}

#paraFi {
  margin-top: 19px;
  margin-bottom: 35px;
}

/* styling of the form  */

.group{
  position:relative;
  margin-bottom:45px;
}

input{
  display:block;
  font-size:18px;
  padding:10px 10px 10px 5px;
  border:none;
  width:300px;
  border-bottom:1px solid #757575;
}

input:focus{
  outline:none;
}

label{
  color:#999;
  position:absolute;
  left:5px;
  top:10px;
  font-size:18px;
  font-weight:normal;
  pointer-events:none;

  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  -ms-transition:0.2s ease all;
  transition:0.2s ease all;
}

/* aktiivinen tila */
input:focus ~ label, input:valid ~ label 		{
  color:#191919;
  top:-20px;
  font-size:17px;
}

/* ----- alapalkit ---- */

/* Animaation pituus*/

.palkki 	{
  width:315px;
  position:relative;
  display:block;
  }

.palkki:before, .palkki:after 	{
  content:'';
  background: #191919;
  height:2px;
  position:absolute;
  width:0;
  bottom:1px;

  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  -ms-transition:0.2s ease all;
  transition:0.2s ease all;
}

.palkki:before {
  left:50%;
}

.palkki:after {
  right:50%;
}

/* aktiivinen tila */
input:focus ~ .palkki:before, input:focus ~ .palkki:after {
  width:50%;
}

.korostus {
  position:absolute;
  top:25%;
  height:60%;
  width:100px;
  left:0;
  pointer-events:none;
  opacity:0; /* Muuttaa clickaus varjouseffektia */
}

input:focus ~ .korostus {
  animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  -webkit-animation:inputHighlighter 0.3s ease;
  -ms-animation:inputHighlighter 0.3s ease;
}

/* animaatiot  */

@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.nimikkeet {
  font-weight: bold;
  position: relative;;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 70px;
}

input, label {
    display:block;
}

textarea {
  outline-color:#191919;
  max-height: 240px;
  max-width: 800px;
  height: 140px;
  border-width: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

 input[type=email] {
    width: 300px;
    height: 30px;
    font-size: 18px;
  }

  /* button  */

button {
    background-color: #424242;
    color: #e5e5e5;
    padding: 10px 30px;
    border: 0 none;
    border-radius: 2px;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
   }

 /* Napin laajentuminen */

button  span{
  max-width: 0;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;

  -moz-transition: max-width 1s;
  -webkit-transition: max-width 1s;
  -ms-transition: max-width 1s;
  transition: max-width 1s;
}

button:hover {
  background-color:#191919;
}

button:hover span {
    max-width: 7rem;
  }



/*
_________________________________________________________________________
------------------------------ Alatunniste ------------------------------
_________________________________________________________________________
*/

#footer{
  background-color: #e3e6e9;
  height: 75px;
  width: 100%;
  position:relative;
  display: flex;
  align-items: center;
  margin:0;
}

#oikeudet {
  padding-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
  font-size: 15px;
  min-width: 320px;
}
