html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 937px;
}

/*
_________________________________________________________________________
------------------------------ Kontit -----------------------------------
_________________________________________________________________________
*/

/* For the main container */

.kontti{
  position:relative;
  min-height: 3200px;
  width:100%;
  height: 100%;
  background-color:#ffffff;
}

/* For the top container */

#topContainer{
  background-color: #191919;
}

/*
_________________________________________________________________________
------------------------------ Ylin palkki ------------------------------
_________________________________________________________________________
*/

body a{
  text-decoration: none;
}

#topBar{
  background-color:#191919;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  border: 0;
  left: 0px;
  top: 0px;
  text-align: center;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* For language bar */

#langBar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 2px;
  color: #e5e5e5;
  min-width: 500px;
}

#vasenTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: 70px;
  text-align: center;
  padding-top: 3px;
}

.ikonit {
  width: 30px;
  height: 30px;
  color: #191919;
  background-color: #e5e5e5;
  border-radius: 50%;
  line-height: 30px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

.ikonit:hover{
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

@supports (-moz-appearance:meterbar)  {
  .ikonit {
    width: 30px;
    height: 30px;
    color: #191919;
    background-color: #e5e5e5;
    border-radius: 50%;
    line-height: 30px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    -moz-user-select: none;
  }
}

/* For Contact bar */

#contactBar {
  height: 50px;
  width: 50%;
  vertical-align: middle;
  line-height: 15px;
  border: 40px;
  color: #e5e5e5;
}

#oikeaTaulukko {
  font-family: 'Open Sans', sans-serif;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
}

#epost {
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  border-radius: 50%;
  color: #191919;
  line-height: 28px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

#epost:hover {
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.15);

  -moz-transition:transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
  -ms-transition:transform .15s ease-in-out;
}

/*
_________________________________________________________________________
------------------------------ Otsikko ------------------------------
_________________________________________________________________________
*/

.header {
  line-height: 285px;
  background-color:#191919;
  margin: 0;
  height: 286px;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  border: 0px;
  padding: 0;
  text-align: center;
  font-size: 360%;
  color: #e5e5e5;
}

.main {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  text-transform: uppercase;
}

h1 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

/*
_________________________________________________________________________
--------------------------- Navigointipalkki ----------------------------
_________________________________________________________________________
*/

#navBar{
  height: 48px;
  width: 100%;
  background-color:#191919;
  font-size: 150%;
  text-align: center;
  color: #e5e5e5;
}

#navList li {
  display:inline;
  text-align: center;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
 }

#navList a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #e5e5e5;
}

ul {
  padding:0;
  margin: 0;
}

.navikointi:after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  border-bottom: 2px solid ;
  transition: width .2s ease, background-color .5s ease;
}

.navikointi:hover:after {
  width: 100%;
}

.alleviivaa {
      border-bottom: solid 2px #FFFFFF;
      display: inline;
      padding-bottom: 0.25px;
}

/*
_________________________________________________________________________
--------------------------- Sisältö ----------------------------
_________________________________________________________________________
*/

/* The middle divs */

#middle {
  height:2768px;
  width: 96%;
  top:0px;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  background-color:white;
  color: black;
  text-align: middle;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding-top: 45px;
  font-size:18px;
}

#middleSuomi {
  height:2795px;
  width: 96%;
  top:0px;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  background-color:white;
  color: black;
  text-align: middle;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding-top: 45px;
  font-size:18px;
}

/* Left side of the main div */

#left {
  height:300px;
  font-family: 'Open Sans', sans-serif;
  width: 88%;
  color:black;
  background-color:white;
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  border: : 46px;
}

/* Descriptions */

.description {
  text-align: left;
  width: 565px;
  margin-top: 0;
}

.description p {
  margin-top: 0;
}

.description1 {
  text-align: left;
  width: 555px;
  margin-top: 0;
}

/* Tables, spaces, and lines */

.taulukko {
 margin: 0px;
 width: 100%;
 border-spacing: 2px 4px;
}

.taulukko tr{
  line-height: 19px;
}

.vasenSarake {
  height: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 43%;
  min-width: 501px;
}

.oikeaSarake {
  height: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 57%;
}

.lines {
  background: #ccc9c9;
  width: 100%;
  height: 1px;
  border: none;
}

h1.otsikko {
  font-size: 45px;
  margin-top: 49px;
  margin-bottom: 30px;
}

h2,h4 {
  font-weight: normal;
}

.nimet {
  margin-top: 1.3em;
  margin-bottom: -0.45em;
}

#nimetOther{
  margin-bottom: 0.5em;
}

#WT0 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 391px;
  margin-top: 1.2em;
}

#WT1 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 380px;
}

#WT11 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 462px;
}

#WT2 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 166px;
}

#WT21 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 276px;
}

#WT211 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 384px;
}

#WT211Suomi {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 419px;
}

#WT3 {
  font-weight: normal;
  font-size: 19.5px;
  padding-left: 387px;
}

.space{
line-height: 20px;
}

#space3{
padding-top: 23px;
}

#space2{
  line-height: 24px;
}

br {
  line-height: 25px;
}

#date {
  padding-top: 23px;
}

#Date {
  padding-top: 10px;
}
#Date2 {
  padding-top: 23px;
}

#date2 {
  padding-top: 4px;
}

/*
_________________________________________________________________________
------------------------------ Alatunniste ------------------------------
_________________________________________________________________________
*/

#footer{
  background-color: #e3e6e9;
  height: 75px;
  width: 100%;
  position:relative;
  display: flex;
  align-items: center;
  margin:0;
}

#oikeudet {
  padding-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
  font-size: 15px;
  min-width: 320px;
}
